<h1><%= t('storytelling.title') %></h1>

<div class="storytelling">
  <div class="image-container">
    <img src="<%= asset_path('kumar_barua.jpg') %>" alt="Kumar Barua" class="profile-img">
  </div>

  <div class="content-container">
    <h2><%= t('storytelling.visionary') %></h2>
    <h3><%= t('storytelling.date') %></h3>

    <p><%= t('storytelling.introduction').html_safe %></p>

    <p><%= t('storytelling.welcome_text').html_safe %></p>

    <p><%= t('storytelling.hints').html_safe %></p>

    <p><%= t('storytelling.event_promise') %></p>
  </div>
</div>