<div id="<%= dom_id registration %>">
  <p>
    <strong>Name:</strong>
    <%= registration.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= registration.email %>
  </p>

  <p>
    <strong>Drink package:</strong>
    <%= registration.drink_package %>
  </p>

  <p>
    <strong>Lunch:</strong>
    <%= registration.lunch %>
  </p>

  <p>
    <strong>Social event:</strong>
    <%= registration.social_event %>
  </p>

</div>
