<section class="hero">
<a href="<%= storytelling_index_path %>" class="badge">Click Me!<br>Hints<br>on<br>Storytelling</a>
<div class="overlay"></div>
<div class="hero-content">
    <%= image_tag "D95.png", alt: "D96 logo", class: "logo"%>
    <h1><%= t("welcome") %></h1>
    <p class="date"><%= t("date") %></p>
    <p class="date">
    <a href="<%= new_registration_path %>" class="register-button"><%= t("register") %></a>
    </p>
    <p class="date"><%= t("organised") %></p>
</div>
</section>
<div class="section-divider"></div>

<section class="location-section">
    <div class="location-row">
        <div class="location-text">
            <h2>Stadtteilkultur 2411 e.V.</h2>
            <p>
                <a href="https://maps.app.goo.gl/JX6h2eWFV3kmxyXs7" target="_blank" aria-label="View location on Google Maps">
                    <%= t("address") %>
                </a>
            </p>
            <p><%= t("description") %></p>
        </div>
        <div class="location-map">
            <a href="https://maps.app.goo.gl/JX6h2eWFV3kmxyXs7" target="_blank" aria-label="View location on Google Maps">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5317.279549443758!2d11.554603912755368!3d48.21355404574781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e76b5b4895cc5%3A0xb16855f7d67729ad!2sStadtteilkultur%202411%20e.V.!5e0!3m2!1sen!2sde!4v1740825183609!5m2!1sen!2sde"
                width="400" height="400" allowfullscreen="" loading="lazy">
            </iframe>
            </a>
        </div>
    </div>
</section>
