<!DOCTYPE html>
<html>
  <head>
    <title>"Munich Speech Festival"</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Standard Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>

    <!-- PNG Favicons -->
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>

    <!-- Apple Touch Icon (For iPhones & iPads) -->
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180', type: 'image/png' %>

    <!-- Android Chrome Icons -->
    <%= favicon_link_tag 'android-chrome-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'android-chrome-512x512.png', rel: 'icon', type: 'image/png', sizes: '512x512' %>

    <!-- Web Manifest (For PWA support) -->
    <%= tag :link, href: asset_path('site.webmanifest'), rel: 'manifest' %>


    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <% flash.each do |type, message| %>
      <div class="flash-message <%= type %>">
        <span class="flash-close" onclick="this.parentElement.style.display='none'">&times;</span>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
